<div id="grid-div">
  <div class="search-div">
    <mat-form-field class="search-form-field" floatLabel="never">
      <input
        matInput
        [(ngModel)]="searchKey"
        placeholder="Search..."
        autocomplete="off"
        (keyup)="search($event.target.value)"
      />
      <button
        mat-button
        matSuffix
        mat-icon-button
        arial-label="Clear"
        *ngIf="searchKey"
        (click)="onSearchClear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <mat-grid-list
      *ngIf="listData?.length > 0"
      cols="3"
      rowHeight="300px"
      gutterSize="5px"
    >
      <mat-grid-tile *ngFor="let tile of listData">
        <img src="{{ imgPath }}{{ tile.img }}" alt="" (click)="show(tile)" />
        <mat-grid-tile-footer>{{ tile.description }}</mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="noData-div" *ngIf="listData?.length === 0">No Data.</div>

    <mat-paginator
      [length]="length"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      (page)="pageEvent = paged($event)"
    ></mat-paginator>

    <div *ngIf="pageEvent">
      <h5>Page Change Event Properties</h5>
      <div>List length: {{ pageEvent.length }}</div>
      <div>Page size: {{ pageEvent.pageSize }}</div>
      <div>Page index: {{ pageEvent.pageIndex }}</div>
    </div>

    <!-- pager -->
    <!-- <div class="row">
      <div id="pagination">
        <ul
          class="pagination pagination-circle pg-blue mb-0"
          *ngIf="pager.pages && pager.pages.length"
        >
          <li
            class="page-item"
            [ngClass]="{ disabled: pager.currentPage === 1 }"
          >
            <a class="page-link" (click)="setPage(1)">First</a>
          </li>
          <li
            class="page-item"
            [ngClass]="{ disabled: pager.currentPage === 1 }"
          >
            <a class="page-link" (click)="setPage(pager.currentPage - 1)"
              >Previous</a
            >
          </li>
          <li
            class="page-item"
            *ngFor="let page of pager.pages"
            [ngClass]="{ active: pager.currentPage === page }"
          >
            <a class="page-link" (click)="setPage(page)">{{ page }}</a>
          </li>
          <li
            class="page-item"
            [ngClass]="{ disabled: pager.currentPage === pager.totalPages }"
          >
            <a class="page-link" (click)="setPage(pager.currentPage + 1)"
              >Next</a
            >
          </li>
          <li
            class="page-item"
            [ngClass]="{ disabled: pager.currentPage === pager.totalPages }"
          >
            <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
          </li>
        </ul>
      </div>
    </div> -->
    <!-- pager -->
  </div>
</div>
<div id="actions-div">
  <div class="cud-div">
    <form [formGroup]="IngredientForm" enctype="multipart/form-data">
      <mat-form-field>
        <input
          matInput
          placeholder="Description"
          formControlName="description"
          [errorStateMatcher]="matcher"
        />
        <mat-error
          *ngIf="IngredientForm.controls.description.hasError('required')"
          >Description is <strong>required.</strong></mat-error
        >
        <mat-error
          *ngIf="IngredientForm.controls.description.hasError('minlength')"
          >The description must be at least 3 characters long.</mat-error
        >
        <mat-error
          *ngIf="IngredientForm.controls.description.hasError('maxlength')"
          >The description must have less that 50 characters.</mat-error
        >
      </mat-form-field>
      <input class="btn-file" type="file" #fileInput formControlName="file" />
    </form>
    <button
      mat-stroked-button
      color="primary"
      (click)="add()"
      *ngIf="!isSelected"
      [disabled]="IngredientForm.invalid"
    >
      Add
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="edit()"
      *ngIf="isSelected"
      [disabled]="IngredientForm.controls.description.invalid"
    >
      Edit
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="delete()"
      *ngIf="isSelected"
    >
      Delete
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="cancel()"
      *ngIf="isSelected"
    >
      Cancel
    </button>
    <mat-divider id="divider"></mat-divider>
    <div id="info">
      <div *ngIf="!isSelected">
        To <strong>edit</strong> or <strong>delete</strong> an item, it must be
        selected from the list.
      </div>
      <div *ngIf="isSelected">Press <strong>Cancel</strong> to go back.</div>
    </div>
  </div>
</div>
