<div id="data-source-div">
  <div id="viewName">
    <header>Ingredients</header>
  </div>
  <div class="search-div">
    <mat-form-field class="search-form-field"
      floatLabel="never">
      <input matInput
        [(ngModel)]="searchKey"
        placeholder="Search..."
        autocomplete="off"
        (keyup)="search($event.target.value)" />
      <button mat-button
        matSuffix
        mat-icon-button
        arial-label="Clear"
        *ngIf="searchKey"
        (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <mat-grid-list *ngIf="listData?.length > 0"
      [cols]="breakpointContent"
      (window:resize)="onResize($event.target)"
      rowHeight="300px"
      gutterSize="5px">
      <mat-grid-tile *ngFor="let tile of listData"
        (click)="show(tile)"
        class="pointer">
        <img src="http://localhost:3000/images/{{ tile.img }}"
          alt=""
          width="250" />
        <mat-grid-tile-footer>{{ tile.description }}</mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="noData-div"
      *ngIf="listData?.length === 0">No Data.</div>

    <mat-paginator [length]="length"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      (page)="paged($event)"></mat-paginator>
  </div>
</div>