/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~@angular/material/prebuilt-themes/purple-green.css';

html,
body {
  height: 100%;
  margin: 0;
}

// @Media (max) apply <= value
@media (max-width: 768px) {
}
@media (max-width: 992px) {
}
@media (max-width: 1024px) {
  #filter {
    padding-left: 0 !important;
  }
}

// ======= REVISAR ========
// .container {
//   padding-right: 15px;
//   padding-left: 15px;
//   margin-right: auto;
//   margin-left: auto;
// }
// @media (min-width: 768px) {
//   .container {
//     width: 750px;
//   }
// }
// @media (min-width: 992px) {
//   .container {
//     width: 970px;
//   }
// }
// @media (min-width: 1200px) {
//   .container {
//     width: 1170px;
//   }
// }

// .element-center {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   -ms-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
// }
// =======================

.hide {
  display: none;
}
.footer-cell,
.footer-row,
.noData-div {
  justify-content: center;
  font-style: italic;
}
.noData-div {
  justify-content: center;
  font-style: italic;
  padding: 15px;
  text-align: center;
}

#filter {
  width: 150px;
  padding-left: 30vw;
}
.search-div {
  width: 100%;
  padding: 0.5rem;
}
.search-form-field {
  width: 100%;
  background: white;
  border-radius: 50px;
}
.search-div .mat-form-field-underline {
  display: none;
}
.search-div .mat-form-field-infix {
  border-top: 0px;
}
.search-div .mat-form-field-wrapper {
  padding-left: 1rem;
  padding-bottom: 0px;
}
.search-div .mat-form-field-suffix button {
  height: 32px;
  width: 32px;
}
#grid-div {
  width: 70%;
  float: left;
}
#actions-div {
  width: 30%;
  overflow: hidden;
}
.cud-div {
  width: 90%;
  margin: 1rem auto;
}
.cud-div .mat-form-field {
  width: 100%;
}
.cud-div button {
  margin-top: 1rem;
  margin-right: 0.5rem;
}

#divider {
  margin: 1rem 0;
}

.pointer {
  cursor: pointer;
}
