@import "../../../scss/_variables.scss";

#grid-toolbar {
  border-bottom: 1px solid rgb(228, 228, 228);
}
#grid-data {
  margin: 1px 0;
  border: 1px solid rgb(200, 0, 0);
}

#grid-data:hover {
  background: $accent;
}

#chip {
  background: $warn;
  border-radius: 20px;
  padding: 0.5rem;
  margin-right: 5px;
}

.mat-subheader {
  height: 40px;
  display: block;
  text-align: center;
  font-size: 1.2rem;
}

table {
  border-spacing: 0;
  width: 100%;
}
th,
td {
  text-align: left;
  padding: 8px;
}
// tr:nth-child(even) {
//   background-color: #dadada;
// }
th {
  border-bottom: 1px solid rgb(228, 228, 228);
}

// Removing style in style.scss
.search-div {
  width: 100%;
  margin: 0;
  padding: 0;
}
.search-form-field {
  width: 100%;
  margin: 0;
}
