<div id="grid-div">
  <!-- <div class="search-div">
    <mat-form-field class="filter-form-field" floatLabel="never">
      <mat-select placeholder="Pokemon" [formControl]="pokemonControl">
        <mat-option>-- None --</mat-option>
        <mat-optgroup
          *ngFor="let group of pokemonGroups"
          [label]="group.name"
          [disabled]="group.disabled"
        >
          <mat-option
            *ngFor="let pokemon of group.pokemon"
            [value]="pokemon.value"
          >
            {{ pokemon.viewValue }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input
        matInput
        [(ngModel)]="searchKey"
        placeholder="Search by dish name ..."
        autocomplete="off"
        (keyup)="search($event.target.value)"
      />
      <button
        mat-button
        matSuffix
        mat-icon-button
        arial-label="Clear"
        *ngIf="searchKey"
        (click)="onSearchClear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div> -->
  <mat-grid-list cols="2" rowHeight="3rem">
    <mat-grid-tile style="background:papayawhip;"
      ><mat-form-field class="" floatLabel="never">
        <mat-select placeholder="Pokemon" [formControl]="pokemonControl">
          <mat-option>-- None --</mat-option>
          <mat-optgroup
            *ngFor="let group of pokemonGroups"
            [label]="group.name"
            [disabled]="group.disabled"
          >
            <mat-option
              *ngFor="let pokemon of group.pokemon"
              [value]="pokemon._id"
            >
              {{ pokemon.description }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field></mat-grid-tile
    >
    <mat-grid-tile style="background:skyblue;"
      ><mat-form-field class="" floatLabel="never">
        <input
          matInput
          [(ngModel)]="searchKey"
          placeholder="Search by dish name ..."
          autocomplete="off"
          (keyup)="search($event.target.value)"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          arial-label="Clear"
          *ngIf="searchKey"
          (click)="onSearchClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field></mat-grid-tile
    >
  </mat-grid-list>
  <div class="mat-elevation-z8">
    <mat-grid-list
      rowHeight="300px"
      *ngIf="listData?.length > 0"
      cols="1"
      gutterSize="2px"
    >
      <mat-grid-tile
        *ngFor="let tile of listData"
        (click)="show(tile)"
        class="pointer"
        style="background:yellowgreen;"
      >
        <!-- <mat-grid-tile-header>{{ tile.averagerate }}</mat-grid-tile-header> -->
        <img
          src="{{ imgPath }}{{ tile.img }}"
          alt=""
          (click)="show(tile)"
          width="300"
        />
        <mat-chip-list *ngFor="let ingredient of tile._ingredients">
          <mat-chip>{{ ingredient.description }}</mat-chip>
        </mat-chip-list>
        <div>Category: {{ tile._category.description }}</div>
        <div *ngIf="tile.details?.length > 0">
          <!-- <mat-tab-group
            class="stretch-tabs"
            animationDuration="0ms"
            backgroundColor="accent"
            dynamicHeight
          >
            <mat-tab
              *ngFor="let tab of tile.details"
              label="{{ tab._size.description }}"
            >
              <mat-list>
                <mat-list-item> Price: {{ tab.price }} </mat-list-item>
                <mat-list-item> Calories: {{ tab.calories }}g</mat-list-item>
                <mat-list-item> Total Fat: {{ tab.totalfat }}g </mat-list-item>
                <mat-list-item>
                  Total Carbs: {{ tab.totalcarbs }}g
                </mat-list-item>
              </mat-list>
            </mat-tab>
          </mat-tab-group> -->
          <table style="width:30%">
            <tr>
              <th></th>
              <th *ngFor="let header of tile.details">
                {{ header._size.description }}
              </th>
            </tr>
            <tr>
              <td class="dts">Price:</td>
              <td *ngFor="let row of tile.details">{{ row.price }}</td>
            </tr>
            <tr>
              <td class="dts">Calories:</td>
              <td *ngFor="let row of tile.details">{{ row.calories }}g</td>
            </tr>
            <tr>
              <td class="dts">Total Fat:</td>
              <td *ngFor="let row of tile.details">{{ row.totalfat }}g</td>
            </tr>
            <tr>
              <td class="dts">Total Carbs:</td>
              <td *ngFor="let row of tile.details">{{ row.totalcarbs }}g</td>
            </tr>
          </table>
        </div>

        <mat-grid-tile-footer>{{ tile.description }}</mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="noData-div" *ngIf="listData?.length === 0">No Data.</div>

    <mat-paginator
      [length]="length"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      (page)="paged($event)"
    ></mat-paginator>
  </div>
</div>
<div id="actions-div">
  <div class="cud-div">
    <form [formGroup]="parentForm" enctype="multipart/form-data">
      <mat-form-field>
        <input
          matInput
          placeholder="Name of the dish"
          formControlName="description"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="parentForm.controls.description.hasError('required')"
          >Description is <strong>required.</strong></mat-error
        >
        <mat-error *ngIf="parentForm.controls.description.hasError('minlength')"
          >The description must be at least 3 characters long.</mat-error
        >
        <mat-error *ngIf="parentForm.controls.description.hasError('maxlength')"
          >The description must have less that 50 characters.</mat-error
        >
      </mat-form-field>
      <input class="btn-file" type="file" #fileInput formControlName="file" />
      <app-chips
        (ingredients)="gettingIngredients($event)"
        [fruits]="setIngredients"
      ></app-chips>
      <app-select [parentForm]="parentForm"></app-select>

      <mat-list *ngIf="sizes?.length > 0">
        <mat-list-item>Details of the dishes</mat-list-item>
        <mat-divider></mat-divider>
        <div formArrayName="items">
          <mat-tab-group
            animationDuration="0ms"
            backgroundColor="accent"
            dynamicHeight
          >
            <mat-tab
              *ngFor="
                let item of parentForm.get('items').controls;
                let i = index
              "
              label="{{ item.value.description }}"
            >
              <div [formGroupName]="i">
                <mat-form-field class="fullwidth" style="margin-top:1rem;">
                  <span matPrefix>$ &nbsp;</span>
                  <input
                    required
                    matInput
                    placeholder="Price"
                    formControlName="price"
                  />
                  <mat-error *ngIf="item.controls.price.hasError('required')"
                    >Price is <strong>required</strong></mat-error
                  >
                  <mat-error *ngIf="item.controls.price.hasError('pattern')"
                    >The price must be an integer number in this format
                    <strong>(xx.xx)</strong>.</mat-error
                  >
                </mat-form-field>
                <mat-form-field class="fullwidth">
                  <input
                    type="number"
                    required
                    matInput
                    placeholder="Calories"
                    formControlName="calories"
                  />
                  <span matSuffix>cal</span>
                  <mat-error *ngIf="item.controls.calories.hasError('required')"
                    >Calories are <strong>required</strong></mat-error
                  >
                  <mat-error *ngIf="item.controls.calories.hasError('pattern')"
                    >The calories must be an integer number.</mat-error
                  >
                </mat-form-field>
                <mat-form-field class="fullwidth">
                  <input
                    type="number"
                    required
                    matInput
                    placeholder="Total Fat"
                    formControlName="totalfat"
                  />
                  <span matSuffix>g</span>
                  <mat-error *ngIf="item.controls.totalfat.hasError('required')"
                    >Total Fat is <strong>required</strong></mat-error
                  >
                  <mat-error *ngIf="item.controls.totalfat.hasError('pattern')"
                    >The Total Fat must be an integer number.</mat-error
                  >
                </mat-form-field>
                <mat-form-field class="fullwidth">
                  <input
                    type="number"
                    required
                    matInput
                    placeholder="Total Carbs"
                    formControlName="totalcarbs"
                  />
                  <span matSuffix>g</span>
                  <mat-error
                    *ngIf="item.controls.totalcarbs.hasError('required')"
                    >Total Carbs is <strong>required</strong></mat-error
                  >
                  <mat-error
                    *ngIf="item.controls.totalcarbs.hasError('pattern')"
                    >The Total Carbs must be an integer number.</mat-error
                  >
                </mat-form-field>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-list>
    </form>
    <button
      mat-stroked-button
      color="primary"
      (click)="add()"
      *ngIf="!isSelected"
      [disabled]="!parentForm.valid"
    >
      Add
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="edit()"
      *ngIf="isSelected"
      [disabled]="parentForm.controls.description.invalid"
    >
      Edit
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="delete()"
      *ngIf="isSelected"
    >
      Delete
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="cancel()"
      *ngIf="isSelected"
    >
      Cancel
    </button>
    <mat-divider id="divider"></mat-divider>
    <div id="info">
      <div *ngIf="!isSelected">
        To <strong>edit</strong> or <strong>delete</strong> an item, it must be
        selected from the list.
      </div>
      <div *ngIf="isSelected">Press <strong>Cancel</strong> to go back.</div>
    </div>
  </div>
</div>
