.btn-file {
  margin: 1rem 0;
}

mat-grid-list {
  background: rgb(231, 231, 231);
}
.mat-subheader {
  height: 40px;
  display: block;
  text-align: center;
  font-size: 1.2rem;
}

th,
td {
  text-align: center;
}
.dts {
  text-align: right !important;
}
