.btn-file {
  margin: 1rem 0;
}

mat-grid-list {
  background: purple;
}
mat-grid-tile {
  background: green;
}
.fullwidth {
  width: 100%;
}
.stretch-tabs {
  max-width: 100%;
}

th,
td {
  text-align: center;
}
.dts {
  text-align: right !important;
}
