<div style="margin-top:.5rem;">
  <div id="grid-div">
    <mat-grid-list id="grid-toolbar"
      [cols]="breakpointToolbar"
      rowHeight="3rem"
      (window:resize)="onResize($event.target)">
      <mat-grid-tile [colspan]="filtercolspan">
        <mat-form-field id="filter"
          floatLabel="never">
          <mat-select [formControl]="filter"
            placeholder="Sort by"
            (selectionChange)="sortby($event.value)">
            <mat-option value="rating">Customer Ratings</mat-option>
            <mat-option value="l2h">Price Low to High</mat-option>
            <mat-option value="h2l">Price High to Low</mat-option>
            <mat-optgroup *ngFor="let group of sortbyGroups"
              [label]="group.name"
              [disabled]="group.disabled">
              <mat-option *ngFor="let category of group.categories"
                [value]="category._id">
                {{ category.description }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="search-div">
          <mat-form-field class="search-form-field"
            floatLabel="never">
            <input matInput
              [(ngModel)]="searchKey"
              placeholder="Search by dish name ..."
              autocomplete="off"
              (keyup)="search($event.target.value)" />
            <button mat-button
              matSuffix
              mat-icon-button
              arial-label="Clear"
              *ngIf="searchKey"
              (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <div *ngIf="listData?.length > 0">
      <mat-grid-list id="grid-data"
        *ngFor="let grid of listData"
        [cols]="breakpointContent"
        rowHeight="300px"
        gutterSize="0px"
        (click)="show(grid)"
        class="pointer">
        <mat-grid-tile>
          <mat-card class="example-card">
            <img mat-card-image
              src="{{ imgPath }}{{ grid.img }}">
            <mat-card-content>
              <p>{{grid.description}}</p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <!-- <mat-grid-tile style="background:rgb(156, 50, 205);"> -->
        <mat-grid-tile>
          <mat-list id="gridCenterCol">
            <mat-list-item>
              Category: {{ grid._category.description }}
            </mat-list-item>
            <mat-divider></mat-divider>
            <div id="subHeader"
              matSubheader>Ingredients</div>
            <mat-list-item>
              <div id="chip"
                *ngFor="let ingredient of grid._ingredients">{{ ingredient.description }}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <star-rating [starType]="'svg'"
                [rating]="grid.averagerate"
                [showHalfStars]="true"
                [readOnly]="true"
                staticColor="ok">
              </star-rating>
              <a routerLink="/comments"
                (click)="seeComments(grid._id)"
                matTooltip="See comments"
                matTooltipPosition="after">({{grid.averagerate}})</a>
            </mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <!-- <mat-grid-tile style="background:rgb(205, 169, 50);"> -->
        <mat-grid-tile>
          <div style="overflow-x:auto;">
            <table style="width:30%">
              <tr>
                <th></th>
                <th *ngFor="let header of grid.details">
                  <!-- {{ header._size.description }} -->
                </th>
              </tr>
              <tr>
                <td>Price:</td>
                <td *ngFor="let row of grid.details">{{ row.price }}</td>
              </tr>
              <tr>
                <td>Calories:</td>
                <td *ngFor="let row of grid.details">{{ row.calories }}g</td>
              </tr>
              <tr>
                <td>Total Fat:</td>
                <td *ngFor="let row of grid.details">{{ row.totalfat }}g</td>
              </tr>
              <tr>
                <td>Total Carbs:</td>
                <td *ngFor="let row of grid.details">{{ row.totalcarbs }}g</td>
              </tr>
            </table>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="noData-div"
      *ngIf="listData?.length === 0">No Data.</div>
    <mat-paginator [length]="length"
      [pageSizeOptions]="pageSizeOptions"
      [pageSize]="pageSize"
      (page)="paged($event)"></mat-paginator>
  </div>
  <div id="actions-div">
    <div class="cud-div">
      <form [formGroup]="parentForm"
        enctype="multipart/form-data">
        <mat-form-field>
          <input matInput
            placeholder="Name of the dish"
            formControlName="description"
            [errorStateMatcher]="matcher" />
          <mat-error *ngIf="parentForm.controls.description.hasError('required')">Description is
            <strong>required.</strong></mat-error>
          <mat-error *ngIf="parentForm.controls.description.hasError('minlength')">The description must be at
            least 3 characters long.</mat-error>
          <mat-error *ngIf="parentForm.controls.description.hasError('maxlength')">The description must have
            less that 50 characters.</mat-error>
        </mat-form-field>
        <input class="btn-file"
          type="file"
          #fileInput
          formControlName="file" />
        <app-chips (ingredients)="gettingIngredients($event)"
          [fruits]="setIngredients"></app-chips>
        <app-select [parentForm]="parentForm"></app-select>

        <mat-list *ngIf="sizes?.length > 0">
          <mat-list-item>Details of the dishes</mat-list-item>
          <mat-divider></mat-divider>
          <div formArrayName="items">
            <mat-tab-group animationDuration="0ms"
              backgroundColor="accent"
              dynamicHeight>
              <mat-tab *ngFor="
                  let item of parentForm.get('items').controls;
                  let i = index
                "
                label="{{ item.value.description }}">
                <div [formGroupName]="i">
                  <mat-form-field style="margin-top:1rem;">
                    <span matPrefix>$ &nbsp;</span>
                    <input required
                      matInput
                      placeholder="Price"
                      formControlName="price" />
                    <mat-error *ngIf="item.controls.price.hasError('required')">Price is
                      <strong>required</strong></mat-error>
                    <mat-error *ngIf="item.controls.price.hasError('pattern')">The price must be an integer
                      number in this format
                      <strong>(xx.xx)</strong>.</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input type="number"
                      required
                      matInput
                      placeholder="Calories"
                      formControlName="calories" />
                    <span matSuffix>cal</span>
                    <mat-error *ngIf="item.controls.calories.hasError('required')">Calories are
                      <strong>required</strong></mat-error>
                    <mat-error *ngIf="item.controls.calories.hasError('pattern')">The calories must be an
                      integer number.</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input type="number"
                      required
                      matInput
                      placeholder="Total Fat"
                      formControlName="totalfat" />
                    <span matSuffix>g</span>
                    <mat-error *ngIf="item.controls.totalfat.hasError('required')">Total Fat is
                      <strong>required</strong></mat-error>
                    <mat-error *ngIf="item.controls.totalfat.hasError('pattern')">The Total Fat must be an
                      integer number.</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input type="number"
                      required
                      matInput
                      placeholder="Total Carbs"
                      formControlName="totalcarbs" />
                    <span matSuffix>g</span>
                    <mat-error *ngIf="item.controls.totalcarbs.hasError('required')">Total Carbs is
                      <strong>required</strong></mat-error>
                    <mat-error *ngIf="item.controls.totalcarbs.hasError('pattern')">The Total Carbs must be
                      an integer number.</mat-error>
                  </mat-form-field>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </mat-list>
      </form>
      <button mat-stroked-button
        color="primary"
        (click)="add()"
        *ngIf="!isSelected"
        [disabled]="!parentForm.valid">
        Add
      </button>
      <button mat-stroked-button
        color="primary"
        (click)="edit()"
        *ngIf="isSelected"
        [disabled]="parentForm.controls.description.invalid">
        Edit
      </button>
      <button mat-stroked-button
        color="primary"
        (click)="delete()"
        *ngIf="isSelected">
        Delete
      </button>
      <button mat-stroked-button
        color="primary"
        (click)="cancel()"
        *ngIf="isSelected">
        Cancel
      </button>
      <mat-divider id="divider"></mat-divider>
      <div id="info">
        <div *ngIf="!isSelected">
          To <strong>edit</strong> or <strong>delete</strong> an item, it must
          be selected from the list.
        </div>
        <div *ngIf="isSelected">Press <strong>Cancel</strong> to go back.</div>
      </div>
    </div>
  </div>
</div>