#chart {
  float: left;
  width: 60%;
  height: 500px; //
  background: rgb(252, 239, 239);
}
#stats {
  float: right;
  width: 40%;
  // height: 500px; //
  background: rgb(239, 239, 253);
}

#chart-header {
  font-size: 1.5rem;
  padding: 2rem 0 0 2rem;
}

#stats-header {
  font-size: 1.5rem;
  padding: 2rem;
}
#tabs-stats,
#tabs-devices {
  margin: auto;
}
.counterValue {
  font-size: 4rem;
  padding: 2rem;
}
