<div id="chart">
  <div id="chart-header">Statistics by route</div>
  <ngx-charts-pie-grid [view]="view"
    [scheme]="colorScheme"
    [results]="chartData"
    (select)="onSelect($event)"></ngx-charts-pie-grid>
</div>

<div id="stats">
  <div id="stats-header">Connections timeline</div>
  <mat-tab-group id="tabs-stats"
    headerPosition="below">
    <mat-tab label="{{counter.label}}"
      *ngFor="let counter of counterConn">
      <div class="counterValue">{{counter.value}}</div>
    </mat-tab>
  </mat-tab-group>

  <div id="stats-header">Visits by devices</div>
  <mat-tab-group id="tabs-devices"
    headerPosition="below">
    <mat-tab label="Mobile">
      <div class="counterValue">{{mobileConn}}</div>
    </mat-tab>
    <mat-tab label="Desktop">
      <div class="counterValue">{{desktopConn}}</div>
    </mat-tab>
  </mat-tab-group>
</div>