<mat-list>
  <mat-list-item *ngFor="let comment of comments; let i = index">
    <img matListAvatar src="../../../assets/images/avatars/images.jpg" alt="" />

    <div matLine>
      <star-rating
        [starType]="'svg'"
        [rating]="comment.rate"
        showHalfStars="true"
        readOnly="true"
        staticColor="ok"
      >
      </star-rating>
    </div>

    <h3 matLine>{{ comment._creator }}</h3>

    <h2 matLine>
      <span> {{ comment.created_at | date }} </span>
    </h2>

    <p matLine>
      <span> {{ comment.comment }} </span>
    </p>

    <mat-form-field id="reply-field" matLine *ngIf="reply[i]">
      <textarea
        matInput
        placeholder="Leave a reply"
        [(ngModel)]="response"
      ></textarea>
    </mat-form-field>

    <div *ngIf="reply[i]" matLine>
      <button mat-button (click)="postingReply(comment._id)">Post reply</button>
      <button mat-button (click)="reply[i] = false">Cancel</button>
    </div>

    <div *ngIf="!reply[i]" matLine>
      <button mat-button (click)="replyFn(i)">Reply</button>
      <button mat-button (click)="openDialog(comment._id)" color="warn">
        Delete
      </button>
    </div>

    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
