@import "../../../../scss/variables";

form {
  margin: 1rem auto;
  text-align: center;
}

mat-form-field,
.login,
.facebook-btn,
.or,
#new-account {
  width: 100%;
}

#forgot {
  text-align: right;
  margin-bottom: 1rem;
}

.facebook-btn {
  margin-top: 1rem;
  background: #4c6baf;
  color: white;
}

.or {
  display: flex;
  margin: 1rem auto;
  flex-direction: row;
  align-items: center;
}
.bar {
  flex: auto;
  border: none;
  height: 1px;
  background: #ccc;
}
.or span {
  color: #ccc;
  padding: 0 0.8rem;
}
