<form id="login-form" [formGroup]="loginForm">
  <h2>Sing In</h2>
  <div>
    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email or Username" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        formControlName="password"
        placeholder="Enter your password"
        [type]="hide ? 'password' : 'text'"
      />
      <mat-icon matSuffix (click)="hide = !hide">{{
        hide ? "visibility_off" : "visibility"
      }}</mat-icon>
    </mat-form-field>
  </div>
  <div id="forgot">
    <a routerLink="/recoverpass">Forgot password</a>
  </div>
  <div>
    <button
      class="login"
      mat-raised-button
      color="primary"
      (click)="onLogin()"
      [disabled]="!loginForm.valid"
    >
      Login
    </button>
  </div>
  <app-facebook></app-facebook>
  <app-google></app-google>
  <div class="or">
    <hr class="bar" />
    <span>OR</span>
    <hr class="bar" />
  </div>
  <div>
    <a class="new-account" mat-stroked-button routerLink="/"
      >Create an account</a
    >
  </div>
</form>
