star-rating {
  display: flex;
  margin: 0;
  padding: 0;
}
.mat-list .mat-list-item .mat-line {
  white-space: normal;
}
.mat-list .mat-list-item .mat-list-avatar {
  width: 50px;
  height: 50px;
}
.reply {
  margin-top: 1rem !important;
  padding-left: 1.5rem !important;
}
.btns {
  margin-top: 0.3rem !important;
}
#back-btn,
#categories {
  float: left;
  padding: 1rem;
}
#categories {
  width: 20rem;
}
#dish {
  width: 30%;
  margin: auto;
  padding: 1rem 0;
}
ngb-carousel,
img {
  max-height: 300px;
}
.hide {
  display: none;
}
