<div id="container">
  <div
    ng2-carouselamos
    class="slades-wrapper"
    [items]="items"
    [width]="200"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
    (onSelectedItem)="onSelectedItem($event.item._id)"
  ></div>

  <ng-template #prev>
    <i class="material-icons">arrow_back_ios</i>
  </ng-template>

  <ng-template #next>
    <i class="material-icons">arrow_forward_ios</i>
  </ng-template>

  <ng-template #tpl></ng-template>

  <ng-template #item let-element let-i="index">
    <div class="items">
      {{ i }}
      {{ element._id }}
      <img src="http://localhost:3000/images/{{ element.img }}" />
    </div>
  </ng-template>
</div>
<mat-divider></mat-divider>
<mat-list>
  <mat-list-item *ngFor="let comment of comments; let i = index">
    <img
      matListAvatar
      src="../../../../assets/images/avatars/images.jpg"
      alt=""
    />

    <div matLine>
      <star-rating
        [starType]="'svg'"
        [rating]="comment.rate"
        showHalfStars="true"
        readOnly="true"
        staticColor="ok"
      >
      </star-rating>
    </div>

    <h3 matLine>{{ comment._creator.email }}</h3>

    <h2 matLine>
      <span> {{ comment.created_at | date }} </span>
    </h2>

    <p matLine>
      <span> {{ comment.comment }} </span>
    </p>

    <div class="reply" *ngIf="comment.reply" matLine>
      <p>
        <span> {{ comment.reply }} </span>
      </p>
      <button mat-button (click)="loadEdit(i)">Edit</button>
      <button
        mat-button
        (click)="openDialog(comment._id, 'reply')"
        color="warn"
      >
        Delete
      </button>
    </div>

    <div class="reply" *ngIf="reply[i]" matLine>
      <mat-form-field matLine>
        <textarea
          matInput
          placeholder="Leave a reply"
          [(ngModel)]="response"
        ></textarea>
      </mat-form-field>
      <button mat-button (click)="postingReply(comment._id)">Post reply</button>
      <button mat-button (click)="reply[i] = false">Cancel</button>
    </div>

    <div class="btns" *ngIf="!comment.reply && !reply[i]" matLine>
      <button mat-button (click)="replyFn(i)">Reply</button>
      <button mat-button (click)="openDialog(comment._id, 'post')" color="warn">
        Delete
      </button>
    </div>

    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
