<div class="box-container"
  fxLayout="column"
  [ngStyle.lt-sm]="'min-height: 800px;'">
  <div class="horizontal-container"
    fxLayout="row"
    fxLayout.lt-sm="column"
    fxLayoutAlign="stretch"
    fxFlex="auto">
    <div class="vertical-container"
      fxLayout="column"
      fxLayoutAlign="stretch"
      fxFlex="100%">
      <div class="content-container"
        fxLayout="column"
        fxLayoutAlign="stretch"
        fxFlex="auto">
        <swiper class="swiper-container"
          fxFlex="auto"
          [config]="config"
          (indexChange)="onIndexChange($event)">
          <div *ngFor="let slide of plates"
            class="swiper-slide">
            <div fxLayout="column"
              fxLayoutAlign="center center"
              fxFlexFill>
              {{ slide.description }}
              <img src="http://localhost:3000/images/{{ slide.img }}" />
            </div>
          </div>
        </swiper>
      </div>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<mat-list>
  <mat-list-item *ngFor="let comment of comments; let i = index">
    <img matListAvatar
      src="../../../../assets/images/avatars/images.jpg"
      alt="" />

    <div matLine>
      <star-rating [starType]="'svg'"
        [rating]="comment.rate"
        showHalfStars="true"
        readOnly="true"
        staticColor="ok">
      </star-rating>
    </div>

    <h3 matLine>{{ comment._creator.email }}</h3>

    <h2 matLine>
      <span> {{ comment.created_at | date }} </span>
    </h2>

    <p matLine>
      <span> {{ comment.comment }} </span>
    </p>

    <div class="reply"
      *ngIf="comment.reply"
      matLine>
      <p>
        <span> {{ comment.reply }} </span>
      </p>
      <button mat-button
        (click)="loadEdit(i)">Edit</button>
      <button mat-button
        (click)="openDialog(comment._id, 'reply')"
        color="warn">
        Delete
      </button>
    </div>

    <div class="reply"
      *ngIf="reply[i]"
      matLine>
      <mat-form-field matLine>
        <textarea matInput
          placeholder="Leave a reply"
          [(ngModel)]="response"></textarea>
      </mat-form-field>
      <button mat-button
        (click)="postingReply(comment._id)">Post reply</button>
      <button mat-button
        (click)="reply[i] = false">Cancel</button>
    </div>

    <div class="btns"
      *ngIf="!comment.reply && !reply[i]"
      matLine>
      <button mat-button
        (click)="replyFn(i)">Reply</button>
      <button mat-button
        (click)="openDialog(comment._id, 'post')"
        color="warn">
        Delete
      </button>
    </div>

    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>