<div id="toolbar">
  <div id="back-btn">
    <button mat-button routerLink="/plates">
      <i class="material-icons"> arrow_back_ios </i>Back
    </button>
  </div>

  <!-- <div id="categories">
    <app-select
      [parentForm]="parentForm"
      (category)="receiveCategory($event)"
    ></app-select>
  </div> -->
  <div id="dish">
    <ngb-carousel style="background: green;" (slide)="onSlideEvent($event)">
      <ng-template ngbSlide *ngFor="let plate of plates">
        <img [src]="plate.img" alt="Random first slide" />
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
<mat-divider></mat-divider>
<!-- <mat-list>
  <mat-list-item *ngFor="let comment of comments; let i = index">
    <img matListAvatar
      src="../../../../assets/images/avatars/images.jpg"
      alt="" />

    <div matLine>
      <star-rating [starType]="'svg'"
        [rating]="comment.rate"
        showHalfStars="true"
        readOnly="true"
        staticColor="ok">
      </star-rating>
    </div>

    <h3 matLine>{{ comment._creator.email }}</h3>

    <h2 matLine>
      <span> {{ comment.created_at | date }} </span>
    </h2>

    <p matLine>
      <span> {{ comment.comment }} </span>
    </p>

    <div class="reply"
      *ngIf="comment.reply"
      matLine>
      <p>
        <span> {{ comment.reply }} </span>
      </p>
      <button mat-button
        (click)="loadEdit(i)">Edit</button>
      <button mat-button
        (click)="openDialog(comment._id, 'reply')"
        color="warn">Delete</button>
    </div>

    <div class="reply"
      *ngIf="reply[i]"
      matLine>
      <mat-form-field matLine>
        <textarea matInput
          placeholder="Leave a reply"
          [(ngModel)]="response"></textarea>
      </mat-form-field>
      <button mat-button
        (click)="postingReply(comment._id)">Post reply</button>
      <button mat-button
        (click)="reply[i] = false">Cancel</button>
    </div>

    <div class="btns"
      *ngIf="!comment.reply && !reply[i]"
      matLine>
      <button mat-button
        (click)="replyFn(i)">Reply</button>
      <button mat-button
        (click)="openDialog(comment._id, 'post')"
        color="warn">
        Delete
      </button>
    </div>

    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list> -->
