@import "../../../scss/variables";
.sidenav {
  width: 175px;
  padding-top: 60px; //new
}
.sidenav-end {
  width: 382px; //min width when resize the web browser
  padding-top: 60px; //new
}
.sidenav-container {
  // overflow: auto; // para el footer
  // padding-bottom: 100px; // para el footer
  padding-top: 60px; //new
  min-height: calc(100% - 100px); //60px del header 100 footer
}
mat-toolbar {
  background: $primary;
}

// Mias
.spacer {
  flex: 1 1 auto;
}
.mat-toolbar li {
  margin: 0 10px;
  color: white;
  display: inline-block;
  text-decoration: none;
}
mat-nav-list {
  padding: 0;
}
// .mat-drawer-side,
// .mat-drawer-side.mat-drawer-end {
//   border: 0;
// }
