<section class="mat-typography">
  <h1 mat-dialog-title>Alert</h1>
  <div mat-dialog-content>
    <p>
      Your session is about to expire. You will be automatically logged out in
    </p>
    <h2>
      <strong>{{ (minutesDisplay) }}:{{ (secondsDisplay) && (secondsDisplay <=59) ? secondsDisplay : '00' }}</strong>
    </h2>
    <p>
      To continue your session, select "Stay Logged In".
    </p>
  </div>
  <div mat-dialog-actions>
    <button mat-button
      mat-dialog-close=""
      cdkFocusInitial>
      Stay Logged In
    </button>
    <button mat-button
      mat-dialog-close="logout"
      color="warn">Log Out</button>
  </div>
</section>