<form class="form"
  [hidden]='wasSent'
  [formGroup]="signUpForm">
  <h2>Sing Up</h2>
  <mat-form-field>
    <input matInput
      formControlName="fullname"
      placeholder="Fullname" />
  </mat-form-field>
  <mat-form-field>
    <input matInput
      type="email"
      formControlName="email"
      placeholder="E-mail" />
  </mat-form-field>
  <mat-form-field>
    <input matInput
      formControlName="password"
      placeholder="Password"
      [type]="hide ? 'password' : 'text'" />
    <mat-icon matSuffix
      (click)="hide = !hide">{{
        hide ? "visibility_off" : "visibility"
      }}</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input matInput
      formControlName="confirmPassword"
      placeholder="Repeat Password"
      [type]="hide ? 'password' : 'text'" />
  </mat-form-field>
  <div class="alert alert-danger"
    *ngIf="signUpForm.controls.confirmPassword.errors?.MutchPassword">Password not match</div>
  <button class="btn"
    mat-raised-button
    color="primary"
    (click)="signUp()"
    [disabled]="!signUpForm.valid">
    Sign Up
  </button>
</form>

<div [hidden]='!wasSent'>
  {{message}}
</div>