<div id="grid-div">
  <div class="search-div">
    <mat-form-field class="search-form-field" floatLabel="never">
      <input
        matInput
        [(ngModel)]="searchKey"
        placeholder="Search..."
        autocomplete="off"
        (keyup)="applyFilter()"
      />
      <button
        mat-button
        matSuffix
        mat-icon-button
        arial-label="Clear"
        *ngIf="searchKey"
        (click)="onSearchClear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          ><h3>Sizes</h3></mat-header-cell
        >
        <mat-cell *matCellDef="let element" (click)="show(element)">{{
          element.description
        }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell class="footer-cell" *matFooterCellDef colspan="6"
          >No Data.</mat-footer-cell
        >
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns">{{
        row
      }}</mat-row>
      <mat-footer-row
        class="footer-row"
        *matFooterRowDef="['noData']"
        [ngClass]="{ hide: !(listData != null && listData.data.length === 0) }"
      ></mat-footer-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageSize]="5"
    ></mat-paginator>
  </div>
</div>
<div id="actions-div">
  <div class="cud-div">
    <form>
      <mat-form-field>
        <input
          matInput
          placeholder="Size"
          [formControl]="sizeFormControl"
          [errorStateMatcher]="matcher"
        />
        <mat-error *ngIf="sizeFormControl.hasError('required')">
          Size is <strong>required.</strong>
        </mat-error>
        <mat-error *ngIf="sizeFormControl.hasError('minlength')">
          Size must be at least 3 characters long.
        </mat-error>
        <mat-error *ngIf="sizeFormControl.hasError('maxlength')">
          Size must have less that 20 characters.
        </mat-error>
      </mat-form-field>
    </form>
    <button
      mat-stroked-button
      color="primary"
      (click)="add()"
      *ngIf="!isSelected"
      [disabled]="sizeFormControl.invalid"
    >
      Add
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="edit()"
      *ngIf="isSelected"
      [disabled]="sizeFormControl.invalid"
    >
      Edit
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="delete()"
      *ngIf="isSelected"
    >
      Delete
    </button>
    <button
      mat-stroked-button
      color="primary"
      (click)="cancel()"
      *ngIf="isSelected"
    >
      Cancel
    </button>
    <mat-divider id="divider"></mat-divider>
    <div id="info">
      <div *ngIf="!isSelected">
        To <strong>edit</strong> or <strong>delete</strong> an item, it must be
        selected from the list.
      </div>
      <div *ngIf="isSelected">Press <strong>Cancel</strong> to go back.</div>
    </div>
  </div>
</div>
