.hide {
  display: none;
}
mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}

.search-div {
  margin: 0.5rem;
  text-align: right;
}
.search-form-field {
  width: 50%;
  margin-left: 1.5rem;
  padding-left: 1rem;
  background: white;
  border-radius: 5px;
}
.search-form-field::ng-deep .mat-form-field-underline {
  display: none;
}
.search-form-field::ng-deep .mat-form-field-infix {
  border-top: 0px;
}
.search-form-field::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px;
}
.search-form-field::ng-deep .mat-form-field-suffix button {
  height: 32px;
  width: 32px;
}

#grid-div {
  width: 60%;
  overflow: hidden;
  float: left;
}
#actions-div {
  width: 40%;
  overflow: hidden;
}
.content {
  width: 90%;
  margin: 2rem auto;
}
button {
  margin-right: 0.5rem;
}
mat-divider {
  margin: 1rem 0;
}
