@import "../../../../scss/variables";

.sidenav {
  width: 175px;
  padding-top: 60px; //header height (new)
}
.sidenav-end {
  width: 382px; //min width when resize the web browser
  padding-top: 60px; //header height (new)
}
.sidenav-container {
  padding-top: 60px; // header height
  // min-height: calc(100% - 100px); //100px footer height

  // min-height: 1717px; // random value
  // min-height: 1181px; // A heighgt
  // min-height: 892.5px; // C height
}
mat-toolbar {
  background: $primary;
}

// Mias
.spacer {
  flex: 1 1 auto;
}
.mat-toolbar li {
  margin: 0 10px;
  color: white;
  display: inline-block;
  text-decoration: none;
}
mat-nav-list {
  padding: 0;
}
// .mat-drawer-side,
// .mat-drawer-side.mat-drawer-end {
//   border: 0;
// }
