/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~css-star-rating/scss/star-rating";
@import "_variables.scss";

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

// @ Mobile First
// @ (min) apply >= value
// Phones
@media only screen and (min-width: 375px) {
  #login-form {
    width: 90%;
  }
  .search-form-field {
    width: 95%;
  }
}

// Tablets
@media only screen and (min-width: 768px) {
  #login-form {
    width: 70%;
  }
  .search-form-field {
    width: 80%;
    margin-left: 15%;
  }
}

// Big Tablets
@media only screen and (min-width: 1024px) {
  #login-form {
    width: 30%;
  }
  .search-form-field {
    width: 60%;
    margin-left: 35%;
  }
}

// Desktops
@media only screen and (min-width: 1280px) {
  #login-form {
    width: 25%;
  }
}

// XL Desktops
@media only screen and (min-width: 1920px) {
  #login-form {
    width: 20%;
  }
  .search-form-field {
    width: 40%;
    margin-left: 57%;
  }
}

.hide {
  display: none;
}
// .footer-cell,
// .footer-row,
// .noData-div {
//   justify-content: center;
//   font-style: italic;
// }
.noData-div {
  font-style: italic;
  padding: 15px;
  text-align: center;
}
header {
  float: left;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
}
// #filter,
.search-div {
  width: 50%;
  margin-left: 50%;
  padding: 0.5rem 0;
}
.search-form-field {
  border-radius: 50px;
  background: #b0bec5;
}
.search-div .mat-form-field-underline {
  display: none;
}
.search-div .mat-form-field-infix {
  border-top: 0px;
}
.search-div .mat-form-field-wrapper {
  padding-left: 1rem;
  padding-bottom: 0px;
}
.search-div .mat-form-field-suffix button {
  height: 32px;
  width: 32px;
}
#data-source-div {
  padding: 0 1rem 1rem 1rem;
  margin: auto;
}
.cud-div {
  width: 90%;
  margin: 1rem auto;
}
.cud-div .mat-form-field {
  width: 100%;
}
.cud-div button {
  margin-top: 1rem;
  margin-right: 0.5rem;
}
#divider {
  margin: 1rem 0;
}
.pointer {
  cursor: pointer;
}
.mat-tab-header-pagination {
  z-index: 1 !important;
}
mat-error {
  font-size: 10.5px;
}
.btn-file {
  margin-top: 1rem;
}
